body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display';



}


.logo {
  margin-top: 80px;
  margin-bottom: 62px;
  text-align: center;
}

.column1-tablet {
  display: none;
}


.hero-section {
  display: flex;
  /* or display: grid */
  height: 358px;
  margin-bottom: 110px;
}



.headline-main {
  color: #28283D;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
}


.main-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  text-align: center;

  color: #87879D;
}

.button-one {
  filter: drop-shadow(0px 4px 4px rgba(249, 249, 249, 0.25));
  width: 193px;
  height: 58px;
  background: #4D96A9;
  border-radius: 29px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  margin-right: 12px;
}


.version {
  color: #8FE3F9;
}

.what-btn {
  width: 139px;
  height: 58px;
  background: #855FB1;


  border-radius: 29px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
}

.column1 {
  width: 33.33%;
  /* for 3 equal-width columns */
  text-align: left;
}


.column2 {
  width: 33.33%;
  /* for 3 equal-width columns */
  text-align: center;
}


.column3 {
  margin-top: 3%;
  text-align: right;
  width: 33.33%;
}





.divider {
  text-align: center;
}


.purpose-section {
  width: 540px;
  height: 240px;
  text-align: center;
  margin: auto;
  margin-bottom: 72px;
  margin-top: -5%;
}


/*
Products Section
*/


.products-section img {
  width: 255px;
  height: 242px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}

.products-section {
  display: flex;
  /* or display: grid */
  height: 242px;
  text-align: center;
  margin-top: 3%;
  width: 1110px;
  margin-left: 12%;
}



.first-product {
  width: 25%;
  border-radius: 10%;
}


.second-product {
  width: 25%;
  border-radius: 10%;
}


.third-product {
  width: 25%;
  border-radius: 10%;
}

.fourth-product {
  width: 25%;
  border-radius: 10%;
}



.purpose-section {
  width: 540px;
  height: 240px;
  text-align: center;
  margin-left: 450px;
  margin-top: 80px;

}

.purpose-section p {
  color: #87879D;
}

.subheading {

  Font-size: 16px;
  Line-height: 26px;
  Letter-spacing: 4px;
  color: #4D96A9;
}

.headline {
  Font-size: 40px;
  Line-height: 44px;
  text-align: center;
  color: #28283D;
  text-align: center;

}





.footer {
  display: flex;
  /* or display: grid */
  height: 308px;
  background-image: url('assets/desktop/footer.jpg');


}



.footer-column1 {
  width: 33.33%;
  /* for 3 equal-width columns */
  border-radius: 10%;
  text-align: center;

}

.footer-column1 h2 {
  Font-size: 32px;
  Line-height: 44px;
  color: #FAFAFA;
  text-align: center;
  font-weight: 900;
  margin: 20%;

}


.footer-column2 p {
  Font-size: 18px;
  color: #FAFAFA;
  text-align: center;
  font-weight: 500;
  margin: 20%;
  font-style: medium;
  Line-height: 26px;
}


.footer-column3 button {
  width: 193px;
  height: 58px;
  border-radius: 29px;
  background-color: #855FB1;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 900;
  margin: 20%;
}

.footer-column2 {
  width: 33.33%;
  /* for 3 equal-width columns */
  border-radius: 10%;
}


.footer-column3 {
  width: 33.33%;
  /* for 3 equal-width columns */
  border-radius: 10%;
}






@media (max-width: 768px) {
  body{
    display: inline-block;
  }
  .logo {
  text-align: center;
  }

  .hero-section {
    display: inline-block;
  }


  .column1-tablet {
    display: inline;
    width: 820px;
    text-align: left;
  
  }

  .heroImage-tablet {
    max-width: 100%;
    max-height: 100%;

  }

  .column1 {
    display: none;
  }

  .column2 {
    width: 600px;
    /* for 3 equal-width columns */
    text-align: center;
    margin-left: 10%;
  }


  .column3 {
    display: none;
  }



  .products-section {
    margin-top: 50px;
    width: 689px;
    height: 156px;
    margin-bottom: 15%;
  }


  .products-section img {
    width: 164px;
    height: 156px;
    margin: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
  }



  .purpose-section {
    text-align: center;
    margin-top: 80px;
    margin: auto;
  }


  .footer {
    background-image: url('assets/desktop/footer.jpg');
    text-align: center;
    width: 768px;
  }

}