body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display";
}

.logo {
  margin-top: 80px;
  margin-bottom: 62px;
  text-align: center;
}

.column1-tablet {
  display: none;
}

.hero-section {
  display: flex;
  height: 358px;
  margin-bottom: 110px;
}

.headline-main {
  color: #28283d;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
}

.main-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  text-align: center;

  color: #87879d;
}

.button-one {
  filter: drop-shadow(0px 8px 4px rgba(255, 255, 255, 0.25));
  width: 193px;
  height: 58px;
  background: #4d96a9;
  border-radius: 29px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  margin-right: 12px;
  border: none;
}

.version {
  color: #8fe3f9;
}

.what-btn {
  width: 139px;
  height: 58px;
  background: #855fb1;
  border: none;
  border-radius: 29px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
}

.column1 {
  width: 33.33%;
  text-align: left;
}

.column2 {
  width: 33.33%;
  /* for 3 equal-width columns */
  text-align: center;
}

.column3 {
  margin-top: 3%;
  text-align: right;
  width: 33.33%;
}

.divider {
  text-align: center;
}

.purpose-section {
  width: 540px;
  height: 240px;
  text-align: center;
  margin: auto;
  margin-bottom: 72px;
  margin-top: -5%;
}

/*
Products Section
*/

.products-section img {
  width: 255px;
  height: 242px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}

.products-section {
  display: flex;
  /* or display: grid */
  height: 242px;
  text-align: center;
  margin-top: 3%;
  width: 1110px;
  margin-left: 12%;
}

.first-product {
  width: 25%;
  border-radius: 10%;
}

.second-product {
  width: 25%;
  border-radius: 10%;
}

.third-product {
  width: 25%;
  border-radius: 10%;
}

.fourth-product {
  width: 25%;
  border-radius: 10%;
}

.purpose-section {
  width: 540px;
  height: 240px;
  text-align: center;
  margin-left: 450px;
  margin-top: 80px;
}

.purpose-section p {
  color: #87879d;
}

.subheading {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  color: #4d96a9;
}

.headline {
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #28283d;
  text-align: center;
}

.icon-divider2 {
  margin-bottom: -25px;
}

.footer {
  display: flex;
  /* or display: grid */
  height: 308px;
  background-image: url("assets/desktop/footer.jpg");
}

.footer-column1 {
  width: 33.33%;
  

  text-align: center;
}

.footer-column1 h2 {
  font-size: 32px;
  line-height: 44px;
  color: #fafafa;
  text-align: center;
  font-weight: 900;
  margin: 20%;
}

.footer-column2 p {
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  font-weight: 500;
  margin: 20%;
  font-style: medium;
  line-height: 26px;
}

.footer-column3 button {
  width: 193px;
  height: 58px;
  border-radius: 29px;
  background-color: #855fb1;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 900;
  margin: 20%;
  border: none;
}

.footer-column2 {
  width: 33.33%;
 
}

.footer-column3 {
  width: 33.33%;

}

@media (max-width: 768px) {
  body {
    display: inline-block;
  }

  .logo {
    text-align: center;
  }

  .hero-section {
    display: inline-block;
  }

  .column1-tablet {
    display: inline;
    width: 820px;
    text-align: left;
  }

  .heroImage-tablet {
    max-width: 100%;
    max-height: 100%;
  }

  .column1 {
    display: none;
  }

  .column2 {
    width: 600px;
    text-align: center;
    margin-left: 10%;
  }

  .column3 {
    display: none;
  }

  .products-section {
    margin-top: 50px;
    width: 689px;
    height: 156px;
    margin-bottom: 15%;
  }

  .products-section img {
    width: 164px;
    height: 156px;
    margin: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
  }

  .purpose-section {
    text-align: center;
    margin-top: 80px;
    margin: auto;
  }

  .footer {
    background-image: url("assets/desktop/footer.jpg");
    text-align: center;
    width: 768px;
  }
}





@media (max-width: 567px) {
  .main {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .heroImage-tablet {
    margin: 0;
    width: 100%;
    height: auto;
    border: none;
  }

  .logo {
    margin-top: 50px;
    margin-bottom: 62px;
    text-align: center;
  }

  .column2 {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-divider1 {
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .headline-main {
    color: #28283d;
    /* font-style: normal; */
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
  }

  .main-paragraph {
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    width: 100%;
    height: auto;
  }


  .button-one{
    width: 210px;
    height: 75px;
    font-size: 20px;
    border-radius: 49px;
  }

  .what-btn{
    width: 170px;
    height: 65px;
    font-size: 20px;
    border-radius: 49px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
  }

  .products-section {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 160px;
 
  }

  .first-product {
    width: 45%;
    height: 200px;
   
  }

  .second-product {
    width: 45%;
    height: 200px;
  }

  .third-product {
    width: 45%;
    height: 200px;
  }

  .fourth-product {
    width: 45%;
    height: 200px;
  }

  .products-section img {
    
    width: 160px;
    height: 170px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
  }

  .subheading {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 4px;
    color: #4d96a9;
  }

  .headline {
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #28283d;
    text-align: center;
  }

  .purpose-section p {
    margin: 0;
    color: #87879d;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
  }

  .purpose-section {
    width: 100%;
    margin: 0;
  }


  .icon-divider2 {
    margin-top: 150px;
  }
  /* FOOTER SECTION */

  .footer {
    display: flex;
    flex-direction: column;
    /* or display: grid */
    width: 100%;
    margin: 0;
    height: auto;
    background-image: url("assets/desktop/footer.jpg");
    background-size: cover;
    background-position: center;

    align-items: center;
  }

  .footer-column1 {
    /* for 3 equal-width columns */
    width: 100%;
    height: auto;
    text-align: center;
    border: none;
    margin-bottom: -80px;
  }

  .footer-column2 {
    width: 100%;
    /* for 3 equal-width columns */
    margin-bottom: -80px;
  }

  .footer-column3 {
    width: 100%;
    border: none;
    /* for 3 equal-width columns */
  }

  .footer-column1 h2 {
    font-size: 35px;
    line-height: 30px;
    color: #fafafa;
    text-align: center;
    font-weight: 900;
    
  }

  .footer-column2 p {
    font-size: 20px;
    color: #fafafa;
    font-style: medium;
    line-height: 36px;
  }

  

  .footer-column3 button {
    width: 210px;
    height: 68px;
    border-radius: 49px;
    background-color: #855fb1;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 900;

    border: none;
  }
}
